@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

$breakpoint: 768px;
$width-scale: 90%;
$maximum-width: 1200px;
$mid-color: #141414;
$dark-color: #000000;
$nav-background: #000000;
$header-font: "Quattrocento", serif;

:root {
  scroll-behavior: smooth;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.main-container {
  margin: 0 auto;
  width: $width-scale;
  max-width: $maximum-width;
  padding-bottom: 50px;

  @media (min-width: $breakpoint) {
    padding-top: 45px;
    padding-bottom: 80px;
  }

  > h3 {
    font-family: $header-font;
    font-size: xx-large;
    margin-bottom: 0;

    &::before {
      content: "";
      display: block;
      background-color: $dark-color;
      width: 20px;
      height: 2px;
      margin-bottom: 10px;
    }
  }
}

#header-nav {
  position: sticky;
  top: 0;
  z-index: 1;

  margin: 0 auto;
  padding-top: 20px;
  width: $width-scale;
  max-width: $maximum-width;

  display: flex;
  justify-content: space-between;

  > a:first-child {
    color: #000000;
    text-decoration: none;

    > div:first-child {
      font-size: x-large;
      font-family: $header-font;
    }

    > div:last-child {
      font-size: x-small;
    }
  }

  > div:last-child {
    display: flex;
    padding-top: 10px;

    > nav {
      > div {
        display: none;
      }

      > a {
        color: $mid-color;
        font-family: $header-font;
        text-decoration: none;
        margin-left: 20px;

        &:first-of-type {
          display: none;
        }

        @media (min-width: $breakpoint) {
          background: linear-gradient(
            to right,
            transparent 50%,
            $mid-color 50%
          );
          background-size: 200% 100%;
          background-position: left;
          transition: background-position 0.2s;

          &:hover {
            color: #ffffff;
            background-position: right;
          }
        }
      }
    }

    > input:first-child {
      visibility: hidden;
      position: relative;
    }

    @media (max-width: $breakpoint) {
      padding-top: 0;

      > nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 100px;
        bottom: 100px;
        left: 0;
        right: 0;
        z-index: 3;

        > div {
          display: block;
          color: #ffffff;

          &:first-of-type {
            font-family: $header-font;
            font-size: xx-large;
          }

          &:nth-of-type(2) {
            font-size: smaller;
            margin-bottom: 40px;
          }
        }

        > a {
          color: #ffffff;
          font-size: large;
          margin: 12px 0;

          &:first-of-type {
            display: block;
          }
        }
      }

      > input:first-child {
        &::after {
          content: "☰";
          font-size: x-large;
          visibility: visible;

          position: absolute;
          right: 0;
        }

        &:checked {
          + nav {
            display: flex;
          }

          &::after {
            content: "✕";
            color: #ffffff;
            z-index: 3;
          }

          &::before {
            background: $nav-background;
            visibility: visible;

            content: "";
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
          }
        }
      }
    }
  }
}

#footer {
  > div {
    color: #ffffff;
    text-align: center;

    &:first-child {
      background-color: $mid-color;
      padding: 50px 0;

      &::before {
        content: "";
        background-color: #aaaaaa;
        display: block;
        width: 1px;
        height: 60px;
        margin: 0 auto 15px auto;
      }

      > a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          text-decoration: line-through;
        }
      }

      > div:last-child {
        display: none;
        margin-top: 50px;

        @media (min-width: $breakpoint) {
          width: $width-scale;
          max-width: $maximum-width;
          margin-left: auto;
          margin-right: auto;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 50px;
        }

        > div {
          text-align: left;

          > h4 {
            position: relative;
            border-top: 1px dashed #ffffff;
            margin-bottom: 30px;

            > span {
              position: absolute;
              top: -0.5rem;
              z-index: 1;
              background-color: $mid-color;
              font-family: $header-font;
              text-transform: uppercase;
              padding-right: 10px;
            }
          }

          > ul {
            list-style: none;
            padding-left: 0;

            > li {
              font-size: smaller;
              margin-bottom: 10px;

              > a {
                color: #ffffff;
                text-decoration: none;

                &:hover {
                  cursor: pointer;
                  text-decoration: line-through;
                }
              }

              > small {
                color: #cccccc;
                font-size: x-small;
                margin-left: 10px;
                user-select: none;
              }
            }
          }
        }
      }
    }

    &:last-child {
      background-color: $dark-color;
      padding-top: 60px;
      padding-bottom: 50px;
      font-size: smaller;

      > div:first-child {
        @media (min-width: $breakpoint) {
          display: flex;
          justify-content: center;
          line-height: 1.4rem;

          > dl {
            margin: 0 0 0 100px !important;
          }
        }

        > div:first-child {
          margin-bottom: 30px;
        }

        > dl {
          width: 280px;
          margin: 0 auto;
          line-height: 1.4rem;

          > dt {
            width: 35%;
            float: left;
            text-align: right;
          }

          > dd {
            width: 65%;
            float: left;
            text-align: left;
            margin-left: 0;
            text-indent: 20px;

            > a {
              margin: 0 7px;
              color: #ffffff;
              text-decoration: none;

              &:hover {
                cursor: pointer;
                text-decoration: line-through;
              }
            }
          }
        }
      }

      > a {
        border: 1px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;

        display: inline-block;
        width: $width-scale;
        max-width: $maximum-width;
        margin: 30px 0;
        padding: 10px 0;

        &:hover {
          background-color: #ffffff;
          color: #000000;
        }
      }

      > div:last-child {
        font-size: small;
      }
    }
  }
}

#games {
  > canvas {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
}

#about {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  dl {
    display: inline-block;
    width: 100%;
  }

  > section {
    h4 {
      display: inline-block;
      font-family: $header-font;
      font-size: large;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    &:first-of-type {
      margin-bottom: 20px;

      @media (min-width: $breakpoint) {
        padding-right: 40px;
        display: flex;

        > div:first-of-type {
          min-width: 300px;
        }

        > div:last-of-type {
          padding-left: 50px;
          padding-top: 60px;
        }
      }

      > div:first-of-type {
        max-width: 210px;

        > div {
          border: 1px solid $mid-color;
          margin-bottom: 30px;
        }
      }

      > div:last-of-type {
        > div:nth-of-type(1) {
          font-family: $header-font;
          font-size: x-large;
          margin-bottom: 10px;
        }

        > div:nth-of-type(2) {
          font-size: 0.9rem;
          line-height: 1.35rem;
          margin-bottom: 30px;
        }

        > div:nth-of-type(3) > a {
          color: #000000;
          font-size: smaller;
          text-decoration: none;
          display: inline-block;
          border: 1px solid $mid-color;
          padding: 10px 15px;
          margin-right: 10px;
          margin-bottom: 35px;

          &:hover {
            cursor: pointer;
            background-color: $mid-color;
            color: #ffffff;
          }
        }

        > dl {
          margin-top: 0;
          font-size: 0.9rem;
          width: 350px;
          line-height: 25px;

          > dt {
            font-size: small;
            float: left;
            width: 30%;
          }

          > dd {
            float: left;
            width: 70%;
            margin-left: 0;

            &:nth-of-type(1) > a {
              color: #1da1f2;
            }

            &:nth-of-type(2) > a {
              color: #6e5494;
            }

            &:nth-of-type(3) > a {
              color: #d93177;
            }

            &:nth-of-type(4) > a {
              color: #0077b5;
            }
          }

          &::before {
            content: "";
            display: block;
            background-color: #aaaaaa;
            width: 50px;
            height: 1px;
            margin-bottom: 25px;
          }
        }
      }
    }

    &:nth-of-type(2) {
      position: relative;

      > dl {
        margin-top: 0;
        font-size: 0.9rem;

        > dt {
          font-size: small;
        }

        > dd {
          line-height: 1.3rem;
          margin-left: 40px;
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }

      @media (min-width: $breakpoint) {
        padding-left: 40px;
      }

      &::before {
        content: "";
        display: block;
        background-color: $mid-color;
        width: 50px;
        height: 1px;
        margin-bottom: 10px;

        @media (min-width: $breakpoint) {
          width: 1px;
          height: 50px;
          position: absolute;
          top: 30px;
          left: 0;
        }
      }
    }
  }
}

#experience {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
  }

  > h3:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  > h4 {
    font-family: $header-font;
    font-size: x-large;
    margin-top: 32px;
    margin-bottom: 0;

    &::before {
      content: "ー";
      font-size: small;
      margin-right: 5px;
    }
  }

  > div {
    @media (min-width: $breakpoint) {
      margin-top: 15px;
    }

    div {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    > div {
      margin-top: 10px;
    }

    > section {
      > div {
        font-size: 0.9rem;

        &:first-child {
          font-size: larger;
          margin-top: 20px;
        }
      }

      > ul {
        list-style: circle;
        margin: 5px 0;
        padding-left: 32px;

        > li {
          margin-bottom: 10px;
          list-style-type: "※";
          padding-inline-start: 8px;
          font-size: 0.9rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}

#blog {
  > p {
    margin: 200px 0;
    text-align: center;
  }

  > ul {
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint) {
      display: grid;
      perspective: 600px;

      > a {
        display: block;
        height: 200px;
        position: relative;

        > li {
          background-color: #ffffff;
          outline: 1px solid $mid-color;
          padding: 0 20px;

          position: absolute;
          width: inherit;
          transition: all 0.5s;
        }
      }
    }

    > a {
      color: #000000;
      text-decoration: none;

      > li {
        margin-top: 40px;
        margin-bottom: 50px;

        > h3 {
          margin: 8px 0;
          font-family: $header-font;

          &::after {
            content: "";
            background-color: $mid-color;
            display: block;
            width: 50px;
            height: 1px;
            margin-top: 10px;
            margin-bottom: 15px;
          }
        }

        > div:last-child {
          font-size: smaller;
          line-height: 1rem;
        }
      }
    }
  }
}

#blog {
  padding-bottom: 180px;

  > ul {
    > a > li > div:first-child {
      max-height: 180px;
      margin: 0 auto 10px auto;
    }

    @media (min-width: $breakpoint) {
      grid-template-columns: 1fr 1fr 1fr;

      > a {
        > li {
          border-top: 5px dashed #ccc;
          height: 340px;
          transform: translateY(-70px) rotateX(40deg) scale(0.8);

          > div:first-child {
            border: 1px solid $mid-color;
            width: 85%;
            transform: translateY(-10px);
          }
        }

        &:hover > li {
          transform: translateY(-20px) rotateX(0) scale(1.1);
          z-index: 1 !important;
        }
      }
    }
  }
}

#blog-post > article {
  > header {
    position: relative;

    @media (min-width: $breakpoint) {
      > div:first-child {
        margin-top: 0 !important;
      }

      > div:last-child {
        bottom: 20px !important;
        left: 100px !important;
      }
    }

    > div:first-child {
      height: 200px;
      margin-top: 30px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    > div:last-child {
      position: absolute;
      bottom: 10px;
      left: 20px;

      > span {
        color: #ffffff;
        font-size: small;
        display: block;
        margin-bottom: 5px;
      }

      > h1 {
        color: #ffffff;
        font-family: $header-font;
        margin: 0;
      }
    }
  }

  > section:last-child {
    pre {
      overflow: scroll;
    }

    @media (min-width: $breakpoint) {
      padding: 0 100px;
    }
  }
}

#contact {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > section {
      &:first-of-type {
        padding-right: 30px;
        margin-bottom: 0;

        > a {
          font-size: x-large !important;
        }
      }

      &:last-of-type {
        padding-left: 30px;
      }
    }
  }

  > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  > section {
    &:first-of-type {
      margin-bottom: 50px;

      > p:first-of-type {
        font-size: smaller;
        margin-bottom: 30px;
      }

      > h5 {
        display: inline-block;
        margin: 10px 0;
        font-size: small;
        border-bottom: 1px solid $mid-color;
        padding-bottom: 1px;
      }

      > a {
        color: #1da1f2;
        display: block;
        text-decoration: none;
        font-size: large;
        font-weight: 400;

        &:hover {
          text-decoration: line-through;
        }
      }

      > span {
        display: block;
        font-size: small;
        margin-top: 10px;
        margin-bottom: 30px;

        &::before {
          content: "※";
          margin-right: 5px;
        }
      }

      > ul {
        padding-left: 20px;
        margin: 0;

        li {
          font-size: smaller;
          line-height: 1.2rem;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }

    &:last-of-type {
      > form {
        label {
          font-size: small;
          font-weight: 400;
        }

        input[type="text"],
        input[type="email"] {
          width: 80%;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          display: block;
          margin-top: 5px;
          margin-bottom: 20px;
          padding: 8px;
          border: 1px solid #cccccc;
        }

        > div:last-of-type {
          display: flex;
          justify-content: space-between;

          label {
            font-size: small;
            font-weight: 300;
          }
        }

        input[type="checkbox"] {
          margin-right: 5px;
        }

        button {
          background-color: #4d50ca;
          color: #ffffff;
          border: none;
          padding: 10px 30px;

          &:hover {
            cursor: pointer;
            background-color: $mid-color;
          }
        }

        textarea {
          resize: none;
          width: 100%;
          height: 150px;
          box-sizing: border-box;
        }
      }
    }
  }
}
